// *************************************
// Main footer
// *************************************

@import "../core/settings";
@import "../core/helpers";

.footer {
    clear: both;
    background-color: #616161;
    color: #f4f4f4;
}