// *************************************
// Helpers
// *************************************

@import 'settings';
@import 'breakpoint';
@import 'rgbapng';


// Add smart breakpoint
// --------------------
// In case $fix-mqs is set to true we will ignore all breakpoints
// except desktop - we will include its content
@mixin add-breakpoint($breakpoint) {
  @if $fix-mqs {
    @if $breakpoint == $break-desktop or (index($breakpoint, $break-desktop) != false) {
      @content
    }
  }
  @else {
    @include breakpoint($breakpoint) {
      @content;
    }
  }
}


// Add rgba background
// -------------------
// We do not need a fallback for modern browsers - just for IE8
// Also we have to include inline image because of the plugin bug with path
@mixin add-rgba-background($color) {
  @if $fix-mqs {
    @include rgba-background-inline($color);
  }
  @else {
    background: $color;
  }
}


// Placeholder style
// -----------------
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}


// Arrow
// -----------------
%arrow {
  position: absolute;
  &:after {
    content: ' ';
    width: 0; 
    height: 0; 
    position: absolute;
    display: block;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; 
    border-right: 10px solid $def-color;
    top: 18px;
    left: 18px;
  }
}