// *************************************
// Settings
// *************************************

// Media query fix
// ---------------
$fix-mqs: false !default;


// Susy settings
// -------------
$susy: (
  columns: 14,
  gutters: 1,
  debug: (image: show)
);


// Default backgrounds
// -------------------
$def-background: #fff;


// Default colors
// --------------
$def-color: #000;

$black-color: #000000;
$white-color: #ffffff;

$light-gray: #f3f3f3;
$normal-gray: #c3c3c3;
$dark-gray: #484848;

$light-blue: #3aafdc;
$normal-blue: #3a88dc;


// Default css rules
// -----------------
$def-font-family: Arial;
$def-line-height: 1.4;


// Font sizes
// ----------
$def-font-size: 12px;
$big-font-size: 16px;
$large-font-size: 20px;


// Font-families
// -------------


// Breakpoints
// -----------
$screen-mobile-small: 500px;
$screen-mobile: 725px;
$screen-tablet: 960px;
$break-mobile-small: max-width $screen-mobile-small;
$break-mobile: (min-width $screen-mobile-small + 1) (max-width $screen-mobile);
$break-tablet: (min-width $screen-mobile + 1) (max-width $screen-tablet);
$break-desktop: min-width $screen-tablet + 1;
$break-mobile-all: $break-mobile-small, $break-mobile;
$break-mobile-and-up: $break-mobile, $break-tablet, $break-desktop;
$break-tablet-and-up: $break-tablet, $break-desktop;
$break-mobile-and-tablet: $break-mobile, $break-tablet;


